@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

* {
    margin: 0;
    padding: 0;
    --fonttext: 'Baloo Chettan 2', cursive;
    --fonttitre: 'Comic Neue', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: orange;
    width: 100%;
    height: 205px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin-top: 65px;
}

#logimg {
    height: 200px;
}

#hul {
    list-style: none;
    margin: 15px;
}

.hli {
    display: inline;
    color: white;
    font-family: var(--fonttitre);
    margin: 15px;
}

h1 {
    font-family: var(--fonttitre);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 10px;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sectiontopmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.texetnoincadre {
    font-family: var(--fonttext);
    text-align: center;
    margin-bottom: 20px;
}

#nobackup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
    margin-right: 30px;
    width: 60%;
    margin-bottom: 50px;
}

#titrenobackup {
    color: orange;
    font-family: var(--fonttitre);
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 35px;
}

#spanfortitrebackup {
    color: black;
}

.articleonnobackup {
    width: 45%;
    margin: 15px;
}

.imgnobackup {
    float: left;
    width: 170px;
    border-radius: 15px;
}

.textarticl {
    font-family: var(--fonttext);
    margin-bottom: 20px;
}

.btnreadmore {
    background-color: black;
    color: white;
    font-family: var(--fonttext);
    border: none;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.titrearticle {
    text-align: center;
    margin: 20px;
    font-family: var(--fonttext);
    text-transform: uppercase;
}

#dataloss {
    background-color: orange;
    width: 25%;
    padding: 50px;
    margin-bottom: 50px;
}

#datalosstitel {
    font-family: var(--fonttitre);
    color: black;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 40px;
}

#spandataloss {
    color: white;
}


.titreartdatalos {
    font-family: var(--fonttitre);
    color: black;
    font-size: 1.7em;
    margin-bottom: 15px;
}


.dfaceimg {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 15px;
}

.articleindataloss {
    margin-bottom: 50px;
    color: white;
    font-family: var(--fonttext);
}